{% load static %}

<script src="{% static 'assets/js/login.js' %}" xmlns="http://www.w3.org/1999/html"></script>
<link href="{% static 'assets/css/login.css' %}" rel="stylesheet">
<div class='brand'>
  <a href='https://www.jamiecoulter.co.uk' target='_blank'>
    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/logo.png'>
  </a>
</div>

<div class='login'>
  <div class='login_title'>
    <span>Login</span>
    {% for i in messages %}
      <p style="color:red;font-size:15px;">{{i}}</p>
    {% endfor %}
  </div>

  <div class='login_fields'>
    <div class='login_fields__user'>
      <div class='icon'>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png'>
      </div>
    </div>
      <form action="login" method="post">
        {% csrf_token %}
          <input placeholder='Username' name="user" type='text'>
            <div class='validation'>
              <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
            </div>
          </input>

        <div class='login_fields__password'>
          <div class='icon'>
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>
          </div>
          <input placeholder='Password' name="password" type='password'>
          <div class='validation'>
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
          </div>
        </div>
        <div class='login_fields__submit'>
          <input type='submit' value='Log In'>
          <br><br>
          <div class='forgot'>
            <a style="color:violet;font-size:11px;text-align:left;" href="{% url 'sign_app:register' %}">Not have an account? Create Here</a>
          </div>
      </form>
    </div>

  </div>
<!--  <div class='success'>-->
<!--    <h2>Authentication Success</h2>-->
<!--    <p>Welcome back</p>-->
<!--  </div>-->

<!--</div>-->
<!--<div class='authent'>-->
<!--  <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/puff.svg'>-->
<!--  <p>Authenticating...</p>-->
<!--</div>-->


<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>-->
<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!--&lt;!&ndash;&#45;&#45;&#45;&#45; Include the above in your HEAD tag &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">-->
<!--<div class="container">-->
<!--        <div class="row centered-form">-->
<!--        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">-->
<!--        	<div class="panel panel-default">-->
<!--        		<div class="panel-heading">-->
<!--			    		<h3 class="panel-title">Login page <small>It's free!</small></h3>-->
<!--			 			</div>-->
<!--			 			<div class="panel-body">-->
<!--			    		<form action="login" method="post" role="form">-->
<!--                            {% csrf_token %}-->
<!--			    			<div class="row">-->
<!--			    				<div class="col-xs-6 col-sm-6 col-md-6">-->
<!--			    					<div class="form-group">-->
<!--			                <input type="text" name="fullname" id="first_name" class="form-control input-sm" placeholder="User Name">-->
<!--			    					</div>-->
<!--			    				</div>-->
<!--			    			</div>-->

<!--			    			<div class="row">-->
<!--			    				<div class="col-xs-6 col-sm-6 col-md-6">-->
<!--			    					<div class="form-group">-->
<!--			    						<input type="password" name="validpassword" id="password" class="form-control input-sm" placeholder="Password">-->
<!--			    					</div>-->
<!--			    				</div>-->

<!--			    			</div>-->

<!--			    			<input type="submit" value="Login" class="btn btn-info btn-block"><br>-->

<!--                            <div class="row">-->
<!--			    				<div class="col-xs-12 col-sm-12 col-md-12">-->
<!--			    					<div class="form-group">-->
<!--			    						Not have an account? <a href="register">Register here</a>-->
<!--			    					</div>-->
<!--			    				</div>-->

<!--			    			</div>-->

<!--			    		</form>-->
<!--			    	</div>-->
<!--	    		</div>-->
<!--    		</div>-->
<!--    	</div>-->
<!--    </div>-->